# Dependency folders
node_modules/
funddate-frontend/node_modules/
backend/node_modules/

# Build output folder
funddate-frontend/dist/

# Environment variables
.env

# Our temporary email database
backend/emails.json

# macOS system file
.DS_Store